<!-- base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}WebSite{% endblock %}</title>
    <link href="{% static 'Css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Css/style.css' %}" rel="stylesheet">
    <link rel="icon" href="">
    
</head>
<body>
    <header>
        <!-- Header content -->
    </header>
        <!-- <nav class="">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="{%url 'index'%}">Home</a>
              <div class="collapse navbar-collapse d-flex " id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{%url 'login'%}">Log In</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" href="{%url 'sighup'%}">Sign Up</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>   -->
          <nav id="navbar" class="navbar  d-flex justify-content-center navbar-expand-lg text-center bg-dark ">
            <ul>
              <li><a class="nav-link scrollto active" href="{%url 'index'%}">Home</a></li>
              <li><a class="nav-link scrollto" href="{%url 'login'%}">Log In</a></li>
              <li><a class="nav-link scrollto " href="{%url 'create'%}">Start Project</a></li>
              <li><a class="nav-link scrollto" href="{%url 'list'%}">Show Projects</a></li>           
            <i class="bi bi-list mobile-nav-toggle"></i>
            <form class="d-flex m-3" role="search" action="{% url 'search-result' %}">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" required>
              <button class="btn btn-dark" type="submit">Search</button>
            </form>
            <li><a class="nav-link scrollto" href="">Categories</a></li>
            </ul>
          </nav>
          <!-- .navbar -->
           <main>
        {% block content %}
      
        {% endblock %}
    </main>
          {% block 'Section' %}
        
          {% endblock %}
         
   

    <footer>
        <!-- Footer content -->
    </footer>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>

