
<{% extends "base.html" %}

{% load static %}


{% include 'header.html'%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create New Project</title>
    <!-- Include CSS and JS for file upload library -->
    <link rel="stylesheet" href="../../../static/Css/form.css">
</head>
<body>


    <h1>Create New Project</h1>

    <div class="container col-7 justify-content-center">
        <h1 style="background-color: whitesmoke;
        font-family: Century Gothic;
        font-weight: bold;
        padding: 20px; 
        border: 2px solid black; 
        border-radius: 10px; 
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;">Create Project</h1>


        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            {{ formset.management_form }}
            {% for subform in formset %}
                {{ subform.as_p }}
            {% endfor %}
            <button type="submit">Create Project</button>
        </form>
        

    </div>

    <!-- Include JS for file upload library -->
    {% comment %} <script src="path/to/file/upload/library.js"></script> {% endcomment %}
</body>
</html>
{% include 'footer.html' %}
