{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project List</title>
</head>
{% block content %}
<div class="container">
    <h1>All Projects</h1>
    <div class="row">
        {% for project in projects %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                {% if project.picture_set.all %}
                <!-- Display the first image of the project -->
                <a href="{% url 'project-detail' project.id %}">
                    <img class="card-img-top" src="{{ project.picture_set.first.image.url }}" alt="{{ project.title }}">
                </a>
                {% endif %}
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <div class="btn-group">
                        <a href="{% url 'project-detail' project.id %}" class="btn btn-sm btn-outline-success">Details</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
</html>
