{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="section-title mt-5">
    <h2>Projects</h2>
    <p>Projects in {{ category.name }}</p>
  </div>
</div><div class="row"></div>
<div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="100">
  {% for project in projects %}
<div class="col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch">
<div class="card border-0 shadow">
<img src="../../../static/img/team-1.jpg" class="card-img-top" alt="{{ project.title }}">
<div class="card-body">
 <h4 class="card-title"><a href="{% url 'project-detail' project.id %}">{{ project.title }}</a></h4>
 <p class="card-text">Start Time: {{ project.start_time }}</p>
 <p>{{ project.details }}</p>
 <a href="{% url 'project-detail' project.id %}" class="btn btn-sm btn-outline-secondary">See More</a>
</div>
</div>
</div>  {% empty %}
<li>No projects found.</li>
{% endfor %}
</div>  
</div> 
  </ul>
  <pre>


























    
  </pre>
{% endblock %}
